<div class="col">
  <div class="card shadow-sm">
    <!--<img class="bd-placeholder-img card-img-top" src="{{ }}" />-->
    <!--<img class="bd-placeholder-img card-img-top" ngSrc="product.image_url" />-->

    <!--<img
      class="bd-placeholder-img card-img-top"
      src="{{ '../../assets/images/{{ product.id }}.jpg' }}"
    />-->
    <p>{{ product.title }}</p>
    <div class="card-body">
      <p class="card-text">
        {{ product["description"] }}
      </p>
      <div class="d-flex justify-content-between align-items-center"></div>
    </div>
  </div>
</div>
